@using pax.schafkopf.Client.Models
@using pax.schafkopf.lib.Enums

<div class="card">
    <div class="card-header">
        Spiel ansagen
    </div>
    <div class="card-body">
        <div class="btn-group-vertical">
            <div class="btn-group">
                @foreach (var mode in modes)
                {
                    <button type="button" class="btn btn-sm @(Mode == mode ? "btn-warning" : "btn-primary")" @onclick="e => SetMode(mode)">@((GameMode)mode)</button>
                }
            </div>
            <div class="btn-group mt-4 mt-sm-3">
                @foreach (var suit in suits)
                {
                    <button type="button" class="btn btn-sm @(TrumpOrPartner == suit ? "btn-warning" : "btn-primary")" @onclick="e => SetSuit(suit)">@((Suit)suit)</button>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-sm btn-primary @(Mode == -1 || TrumpOrPartner == -1 ? "disabled" : "")" @onclick="CallIt">Ansagen</button>
    </div>
</div>


@code {
    [CascadingParameter]
    public ClientTable table { get; set; }

    [Parameter]
    public EventCallback onBidding2 { get; set; }

    int Mode = -1;
    int TrumpOrPartner = -1;

    List<int> modes;
    List<int> suits;

    protected override void OnInitialized()
    {
        modes = table.Table.GetValidBidModes(table.ClientPosition);
        suits = new List<int>();
        base.OnInitialized();
    }

    void SetMode(int mode)
    {
        Mode = mode;
        if (Mode == (int)GameMode.Weiter)
        {
            table.ClientPlayer.GameMode = Mode;
            onBidding2.InvokeAsync();
            return;
        }
        else if (Mode == (int)GameMode.Wenz)
            TrumpOrPartner = (int)Suit.Farblos;
        suits = table.Table.GetValidSuits(table.ClientPosition, Mode);
    }

    void SetSuit(int suit)
    {
        TrumpOrPartner = suit;
    }

    void CallIt()
    {
        if (Mode >= 0 && TrumpOrPartner >= 0)
        {
            table.ClientPlayer.GameMode = Mode;
            table.ClientPlayer.GameSuit = TrumpOrPartner;
            onBidding2.InvokeAsync();
        }
    }
}
