@using pax.schafkopf.Shared
@using pax.schafkopf.Client.Services
@using pax.schafkopf.Client.Models
@using pax.schafkopf.lib

@if (_Show)
{
    <div class="modal fade show d-block @FadeClass" id="lasttrick" @onclick="@( async => Show())">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-sm">
                    Letzter Stich
                </div>
                <div class="modal-body">
                    <div class="position-relative" style="left: 50%; top: 50%;">
                        @*<div class="skcard" style="top: -@(cheight -5)vh; left: -@(cwidth / 2)vh;">*@
                        <div class="skcard top-card">
                            <img class="skimage" src="@TopCard" />
                        </div>
                        <div class="skcard bottom-card">
                            <img class="skimage" src="@BottomCard" />
                        </div>
                        <div class="skcard left-card" style="transform: rotate(90deg);">
                            <img class="skimage" src="@LeftCard" />
                        </div>
                        <div class="skcard right-card" style="transform: rotate(-90deg);">
                            <img class="skimage" src="@RightCard" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary">Schließen</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-backdrop fade show" @onclick="@( async => Show())"></div>
}

@code {
    [CascadingParameter]
    public ClientTable table { get; set; }

    string BottomCard;
    string LeftCard;
    string TopCard;
    string RightCard;

    protected override void OnInitialized()
    {
        // Debug
        //for (int i = 0; i < 4; i++)
        //    table.LastTrick[i] = SKData.GetRandomCard();


        BottomCard = CardService.GetImageString(table.Table.LastTrick[table.ClientPosition]);
        LeftCard = CardService.GetImageString(table.Table.LastTrick[(table.ClientPosition + 1) % 4]);
        TopCard = CardService.GetImageString(table.Table.LastTrick[(table.ClientPosition + 2) % 4]);
        RightCard = CardService.GetImageString(table.Table.LastTrick[(table.ClientPosition + 3) % 4]);
        base.OnInitialized();
    }

    private bool _Show = false;
    private string FadeClass = "fadein";

    public async void Show()
    {
        if (_Show == false)
        {
            if (table.Table.LastTrick.Where(x => x == null).Any())
                return;
            BottomCard = CardService.GetImageString(table.Table.LastTrick[table.ClientPosition]);
            LeftCard = CardService.GetImageString(table.Table.LastTrick[(table.ClientPosition + 1) % 4]);
            TopCard = CardService.GetImageString(table.Table.LastTrick[(table.ClientPosition + 2) % 4]);
            RightCard = CardService.GetImageString(table.Table.LastTrick[(table.ClientPosition + 3) % 4]);
            FadeClass = "fadein";
        }
        _Show = !_Show;
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(500);
        FadeClass = "";
        await InvokeAsync(() => StateHasChanged());
    }
}
